<!DOCTYPE html>
<html>
<head>
  <title>VotaPrato</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <a href="<%= root_path %>">Home</a>  -->
<%= link_to 'Home', root_path %> <!-- melhor maneira, ja faz internacionalizacao -->

<%= menu_principal %>

<%= yield %>


</body>
</html>
